.gallery {
    overflow: hidden;
}

/* Figure focus image */
.gallery a img {
    width: 95%;
    display: block;
    margin: auto;
    filter: drop-shadow(1px 1px 4px grey);
}

/* Figure thumbnail images */
.gallery img {
    width: 100%;
    filter: drop-shadow(1px 1px 2px grey);
}

.gallery figure {
    display: block;
    float: left;
    width: 150px;
}

@media (min-width: 768px) {
    /* Allow hover effect over image thumbnail on desktop */
    .gallery figure.nav:hover {
        opacity: 0.75 !important;
        text-decoration: none;
        color: inherit;
    }
}

.pswp__caption__center {
	text-align: center;
}

.slick-track {
    display: flex;
    margin: 0 auto;
}

.slider-nav .slick-track .photoSwipeOpen {
    transition: none !important;
}

.slider-nav .slick-current {
    border-bottom: 2px solid firebrick;
    padding-bottom: 3px;
}

img.slider-nav {
    max-width: 200px;
    display: block;
}
