body {
    font-family: "LatoLatinWeb";
    color: rgb(100,100,100);
    background: rgb(255,255,255);
}

/*===== START Header =====*/

.navbar {
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.05);
    min-height: 60px;
    background-color: white;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-content {
    max-width: 1280px;
}

/* Allow hover navbar for drop-downs */
.dropdown:hover .dropdown-menu {
    margin-top: 0px;
    display: block;
}

/*===== END Header =====*/

/*===== START main =====*/

main {
    margin: 55px auto 0;
    padding: 3rem 1rem;
    max-width: 1280px;
}

/* Portrait phones and smaller */
@media (max-width: 576px) {
    main {
        margin: auto;
    }
}

/*===== END main =====*/

/*===== START Footer =====*/

body > footer nav {
    border-top: 0.3rem dotted rgb(150,150,150);
    padding: 3rem 0 6rem;
    white-space: nowrap;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
}

body > footer nav ul {
    margin: 0;
    padding: 0;
}

body > footer nav ul li {
    list-style: none;
}

body > footer nav ul li a {
    color: rgb(64,196,75);
}

body > footer nav ul li a:hover {
    color: rgb(47,153,56);
}

/*===== END Footer =====*/
