{% extends "layout.html" %}

{% block heading %}
{% endblock %}

{% block content %}
    <h1> The Recipe Website </h1>
    <br>
    <br>
    <h2> Simple and cheap recipes for everyone </h2>
    <br>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <hr class="my-4">
    {% for i in range(10) %}
    <!-- THIS IS A REPEATING CARD -->
    <div class="container justify-content-between border border-dark rounded p-3 my-3">
      <div class="row">
        <div class="col-12 col-md-4 pb-3">
          <img src="{{ '/images/okonomiyaki.jpeg'|asseturl }}" alt="Okonomiyaki" class="img-fluid rounded border border-dark">
        </div>
        <div class="col-12 col-md-8">
          <h4> Okonomiyaki </h4>
          <ul class="my-auto list-unstyled">
            <li>
              <div class="row justify-content-start">
                <div class="col-4 col-md-3 me-lg-0">
                  <p class="my-0"><u>Origin:</u></p>
                </div>
                <div class="col-8 col-md-9">
                  <div class="d-flex justify-content-start">
                    <img src="{{ '/images/japanese-flag.png'|asseturl }}" alt="Japanese Flag" class="img-fluid rounded border border-dark my-auto" style="max-height:16px;">
                    <p class="my-auto ps-2">Japan</p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="row justify-content-start">
                <div class="col-4 col-md-3 me-lg-0">
                  <p class="my-0"><u>Meal:</u></p>
                </div>
                <div class="col-8 col-md-9">
                  <p class="my-0">Lunch / Dinner</p>
                </div>
              </div>
            </li>
            <li>
              <div class="row justify-content-start">
                <div class="col-4 col-md-3 me-lg-0">
                  <p class="my-0"><u>Difficulty:</u></p>
                </div>
                <div class="col-8 col-md-9">
                  <p class="my-0">Easy</p>
                </div>
              </div>
            </li>
            <li>
              <div class="row justify-content-start">
                <div class="col-4 col-md-3 me-lg-0">
                  <p class="my-0"><u>About:</u></p>
                </div>
                <div class="col-8 col-md-9">
                  <p class="my-0">
                    <small>Okonomiyaki is a traditinal Japanese dish that is enjoyed in a round-table setting. Savory and light, this dish is a healthy option for anyone curious in this traditional treat.</small>
                  </p>
                </div>
              </div>
            </li>
          </ul>
          <div class="d-flex justify-content-end">
            <button class="btn btn-primary rounded mt-3 me-0 px-3" type="button"> I'm interested! </button>
          </div>
        </div>
      </div>
    </div>
    <!-- END CARD -->
    {% endfor %}
{% endblock %}
