{% extends "layout.html" %}

{% block heading %}
{% endblock %}

{% block content %}
    <div class="row mb-5">
      {% if this.page_title_img_url|length %}
      <div class="col-4 col-sm-6 col-md-2 my-auto">
        {% if this.is_img_url_profile == 'true' %}
        <img src="{{ this.page_title_img_url|asseturl }}" alt="{{ this.page_title }}" class="img-fluid rounded-circle border border-dark">
        {% else %}
        <img src="{{ this.page_title_img_url|asseturl }}" alt="{{ this.page_title }}" class="img-fluid rounded border border-dark">
        {% endif %}
      </div>
      <div class="col-8 col-sm-6 col-md-10 my-auto">
        <h1 class="mb-0"> {{ this.page_title }} </h1>
      </div>
      {% else %}
      <div class="col my-auto">
        <h1 class="mb-0"> {{ this.page_title }} </h1>
      </div>
      {% endif %}
    </div>
    <h2 class="mb-4"> {{ this.page_header }} </h2>
    <p>
      {{ this.page_body }}
    </p>
    <hr class="my-4">
    <div class="container px-0">
      <div class="row justify-content-between">
        {%- for category in this.categories.blocks -%}
        <div class="justify-content-between col-12 col-sm-6">
          <a href="{{ category.page_url|url }}" class="text-reset text-decoration-none">
            <div class="col-12 border border-dark rounded p-3 my-3">
              <div class="row">
                <div class="col-5 col-lg-4 my-auto">
                  <img src="{{ category.img_url|asseturl }}" alt="{{ category.title }}" class="img-profile-sm img-fluid rounded-circle border border-dark">
                </div>
                <div class="col-7 col-lg-8 my-auto">
                  <!-- Adjust category title size conditional to its length -->
                  {% set exceeds_len = [] -%}
                  {% set sub_titles = category.title.split(' ') -%}
                    {% for sub_title in sub_titles -%}
                      {% if sub_title|length > 6 -%}
                        {% do exceeds_len.append(1) -%}
                      {% endif -%}
                    {% endfor -%}
                  {% if exceeds_len -%}
                  <h4 class="col-12 mb-0"> {{ category.title }} </h4>
                  {% else -%}
                  <h3 class="col-12 mb-0"> {{ category.title }} </h3>
                  {% endif -%}
                </div>
              </div>
            </div>
          </a>
        </div>
        {%- endfor -%}
      </div>
    </div>
{% endblock %}
