{% extends "layout.html" %}

{% block heading %}
{% endblock %}

{% block content %}
    <div class="row">
      {% if this.page_title_img_url|length %}
      <div class="col-2 my-auto">
        <img src="{{ this.page_title_img_url|asseturl }}" alt="Japanese Flag" class="img-fluid rounded border border-dark">
      </div>
      <div class="col-10 my-auto">
        <h1 class="mb-0"> {{ this.page_title }} </h1>
      </div>
      {% else %}
      <div class="col-12 my-auto">
        <h1 class="mb-0"> {{ this.page_title }} </h1>
      </div>
      {% endif %}
    </div>
    <br>
    <br>
    <h2> Simple and cheap recipes for everyone </h2>
    <br>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <hr class="my-4">
    {%- for recipe in this.recipes.blocks -%}
    <!-- THIS IS A REPEATING CARD -->
    <div class="container justify-content-between border border-dark rounded p-3 my-3">
      <div class="row">
        <div class="col-12 col-md-4 pb-3">
          <img src="{{ recipe.img_url|asseturl }}" alt="{{ recipe.title }}" class="img-fluid rounded border border-dark">
        </div>
        <div class="col-12 col-md-8">
          <h4> {{ recipe.recipe_title }} </h4>
          <ul class="my-auto list-unstyled">
            <li>
              <div class="row justify-content-start">
                <div class="col-4 col-md-3 me-lg-0">
                  <p class="my-0"><u>Origin:</u></p>
                </div>
                <div class="col-8 col-md-9">
                  <div class="d-flex justify-content-start">
                    <img src="{{ recipe.origin_img_url|asseturl }}" alt="Japanese Flag" class="img-fluid rounded border border-dark my-auto" style="max-height:16px;">
                    <p class="my-auto ps-2"> {{ recipe.origin }} </p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="row justify-content-start">
                <div class="col-4 col-md-3 me-lg-0">
                  <p class="my-0"><u>Meal:</u></p>
                </div>
                <div class="col-8 col-md-9">
                  <p class="my-0"> {{ recipe.meal }} </p>
                </div>
              </div>
            </li>
            <li>
              <div class="row justify-content-start">
                <div class="col-4 col-md-3 me-lg-0">
                  <p class="my-0"><u>Difficulty:</u></p>
                </div>
                <div class="col-8 col-md-9">
                  <p class="my-0"> {{ recipe.difficulty }} </p>
                </div>
              </div>
            </li>
            <li>
              <div class="row justify-content-start">
                <div class="col-4 col-md-3 me-lg-0">
                  <p class="my-0"><u>About:</u></p>
                </div>
                <div class="col-8 col-md-9">
                  <p class="my-0">
                    <small> {{ recipe.about }} </small>
                  </p>
                </div>
              </div>
            </li>
          </ul>
          <div class="d-flex justify-content-end">
            <button onclick="location.href='{{ recipe.recipe_url|url }}'" type="button" class="btn btn-primary rounded mt-3 me-0 px-3" type="button"> I'm interested! </button>
          </div>
        </div>
      </div>
    </div>
    <!-- END CARD -->
    {%- endfor -%}
{% endblock %}
