<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ this.title }} | Recipe Website{% endblock %}</title>
  <link rel="icon" type="image/png" href="{{ '/images/recipe-website-logo-32px.png'|asseturl }}"/>
  <link rel="stylesheet" href="{{ '/external/bootstrap-5.0.2/css/bootstrap.min.css'|asseturl }}">
  <link rel="stylesheet" href="{{ '/css/main.css'|asseturl }}">
  <link rel="stylesheet" href="{{ '/css/latolatinfonts.css'|asseturl }}">
  {%- block page_css -%}
  {%- endblock -%}
  <script defer src="{{ '/external/jquery-3.6.0.min.js'|asseturl }}"></script>
  <script defer src="{{ '/external/bootstrap-5.0.2/js/bootstrap.min.js'|asseturl }}"></script>
  {%- block page_js -%}
  {%- endblock -%}
  <meta property="og:site_name" content="Recipe Website"/>
  <meta property="og:title" content="Recipe Website - Fun and Simple Recipes"/>
  <meta property="og:description" content="Recipe Website hosts fun and simple recipes."/>
  <meta property="og:image" content="{{ '/images/recipe-website-logo.png'|asseturl }}"/>
  <meta property="og:secure_url" content="{{ '/images/recipe-website-logo.png'|asseturl }}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ '/css/fork-awesome/fork-awesome.min.css'|asseturl }}">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid px-3 navbar-content">
        <a class="navbar-brand" href="{{ '/'|url }}">
          <img src="{{ '/images/recipe-website-logo-32px.png'|asseturl }}" alt="Home">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbar-nav" aria-controls="navbar-nav"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-nav">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="{{ "/"|url }}">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="{{ "/recipes"|url }}"
                 id="navbar-nav-dropdown" role="button"
                 data-bs-toggle="dropdown" aria-expanded="false">
                Recipes
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbar-nav-dropdown">
                <li><a class="dropdown-item" href="{{ ("/recipes/breakfast")|url }}">Breakfast</a></li>
                <li><a class="dropdown-item" href="{{ ("/recipes/lunch")|url }}">Lunch</a></li>
                <li><a class="dropdown-item" href="{{ ("/recipes/dinner")|url }}">Dinner</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{ "/about"|url }}">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="d-flex justify-content-between" style="min-height: 100vh;">
      <!-- Side bar for desktop -->
      <aside class="d-none d-sm-block col-md-4 col-lg-3 rounded" aria-label="Sidebar">
        <div class="sticky-top py-3">
          <div class="d-flex justify-content-center">
            <img src="{{ '/images/recipe-website-logo.png'|asseturl }}" class="rounded-circle" style="max-width:100%; max-height:100%; padding:2rem; padding-top:0">
          </div>
          <div class="d-flex justify-content-center border-bottom color-border-muted py-3 mt-3 mb-4">
            <button class="btn btn-primary rounded px-md-5" type="button"> Surprise me! </button>
          </div>
          <div class="px-5">
            <h3 class="text-left pt-2 pb-3"> Simple and cheap </h3>
            <div class="pb-2">
              <h5 class="text-left pb-1 text-decoration-underline"> Meal </h5>
              <ul class="list-unstyled">
                <li class="">
                  <div class="width-full d-flex justify-content-left mt-2">
                    <a href="#"> Breakfast </a>
                  </div>
                </li>
                <li class="">
                  <div class="width-full d-flex justify-content-left mt-2">
                    <a href="#"> Lunch </a>
                  </div>
                </li>
                <li class="">
                  <div class="width-full d-flex justify-content-left mt-2">
                    <a href="#"> Dinner </a>
                  </div>
                </li>
              </ul>
            </div>
            <div>
              <h5 class="text-left pb-1 text-decoration-underline"> Recipe Origin </h5>
              <ul class="list-unstyled">
                <li class="">
                  <div class="width-full mt-2">
                    <a href="#"> Russia </a>
                  </div>
                </li>
                <li class="">
                  <div class="width-full mt-2">
                    <a href="#"> Japan </a>
                  </div>
                </li>
                <li class="">
                  <div class="width-full mt-2">
                    <a href="#"> India </a>
                  </div>
                </li>
                <li class="">
                  <div class="width-full mt-2">
                    <a href="#"> Italy </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </aside>
      <div class="flex-auto col-md-8 col-lg-8 px-3">
        <!-- Side bar for mobile -->
        <div class="d-block d-sm-none py-3">
          <div class="d-flex justify-content-center">
            <img src="{{ '/images/recipe-website-logo.png'|asseturl }}" class="rounded-circle" style="max-width:160px; max-height:160px;">
          </div>
          <div class="d-flex justify-content-center border-bottom color-border-muted py-3 my-3">
            <button class="btn btn-primary rounded px-5" type="button"> Surprise me! </button>
          </div>
          <div class="px-4">
            <h3 class="text-center pt-2 pb-3"> Simple and cheap </h3>
            <div class="row">
              <div class="col-6 pb-2">
                <h5 class="text-left text-decoration-underline"> Meal </h5>
                <ul class="row list-unstyled">
                  <li class="col-12">
                    <div class="width-full mt-2">
                      <a href="#"> Breakfast </a>
                    </div>
                  </li>
                  <li class="col-12">
                    <div class="width-full mt-2">
                      <a href="#"> Lunch </a>
                    </div>
                  </li>
                  <li class="col-12">
                    <div class="width-full mt-2">
                      <a href="#"> Dinner </a>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-6">
                <h5 class="text-left text-decoration-underline"> Recipe Origin </h5>
                <ul class="row list-unstyled">
                  <li class="col-6">
                    <div class="width-full mt-2">
                      <a href="#"> Russia </a>
                    </div>
                  </li>
                  <li class="col-6">
                    <div class="width-full mt-2">
                      <a href="#"> Japan </a>
                    </div>
                  </li>
                  <li class="col-6">
                    <div class="width-full mt-2">
                      <a href="#"> India </a>
                    </div>
                  </li>
                  <li class="col-6">
                    <div class="width-full mt-2">
                      <a href="#"> Italy </a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        {% block heading %}
        {% endblock %}

        {% block content %}
        {% endblock %}
      </div>
    </div>
  </main>

  <footer>
    <div class="container">
      <nav>
        <section>
          <h5>This is a demo header</h5>
          <ul>
            <li><a href="#">Demo 1</a></li>
            <li><a href="#">Demo 2</a></li>
          </ul>
        </section>
      </nav>
    </div>
  </footer>
</body>
</html>
