<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ this.title }} | Recipe Website{% endblock %}</title>
  <link rel="icon" type="image/png" href="{{ '/images/recipe-website-logo-32px.png'|asseturl }}"/>
  <link rel="stylesheet" href="{{ '/external/bootstrap-5.0.2/css/bootstrap.min.css'|asseturl }}">
  <link rel="stylesheet" href="{{ '/css/main.css'|asseturl }}">
  <link rel="stylesheet" href="{{ '/css/latolatinfonts.css'|asseturl }}">
  {%- block page_css -%}
  {%- endblock -%}
  <script defer src="{{ '/external/jquery-3.6.0.min.js'|asseturl }}"></script>
  <script defer src="{{ '/external/bootstrap-5.0.2/js/bootstrap.min.js'|asseturl }}"></script>
  {%- block page_js -%}
  {%- endblock -%}
  <meta property="og:site_name" content="Recipe Website"/>
  <meta property="og:title" content="Recipe Website - Fun and Simple Recipes"/>
  <meta property="og:description" content="Recipe Website hosts fun and simple recipes."/>
  <meta property="og:image" content="{{ '/images/recipe-website-logo.png'|asseturl }}"/>
  <meta property="og:secure_url" content="{{ '/images/recipe-website-logo.png'|asseturl }}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ '/css/fork-awesome/fork-awesome.min.css'|asseturl }}">
</head>

<body>
  <header>
    {% block menu %}
      <nav class="navbar fixed-top navbar-expand-md navbar-light">
        <a class="navbar-brand d-block d-md-none" href="{{ '/'|url }}">
          <img src="{{ '/images/recipe-website-logo-32px.png'|asseturl }}" alt="Home">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbar-nav" aria-controls="navbar-nav"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-nav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="navbar-brand d-none d-md-block" href="{{ '/'|url }}">
                <img src="{{ '/images/recipe-website-logo-32px.png'|asseturl }}" alt="Home">
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ "/"|url }}">Home</a>
            </li>
            <li class="nav-item dropdown" href="#top" data-toggle="collapse" data-target=".navbar-collapse.show">
              <a class="nav-link dropdown-toggle" href="{{ "/recipes"|url }}"
                  id="navbar-alts-dropdown" role="button"
                  aria-haspopup="true" aria-expanded="false">Recipes</a>
              <div class="dropdown-menu" aria-labelledby="navbar-alts-dropdown">
                <a class="dropdown-item" href="{{ ("/recipes/breakfast")|url }}">Breakfast</a>
                <a class="dropdown-item" href="{{ "/recipes/lunch"|url }}">Lunch</a>
                <a class="dropdown-item" href="{{ "/recipes/dinner"|url }}">Dinner</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ "/about"|url }}">About</a>
            </li>
          </ul>
        </div>
      </nav>
    {% endblock %}
  </header>

  <main>
    {% block heading %}
    {% endblock %}

    {% block content %}
      {{ this.body }}
    {% endblock %}
  </main>

  <footer>
    <div class="container">
      <nav>
        <section>
          <h5>This is a demo header</h5>
          <ul>
            <li><a href="#">Demo 1</a></li>
            <li><a href="#">Demo 2</a></li>
          </ul>
        </section>
      </nav>
    </div>
  </footer>
</body>
</html>
