<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ this.title }} | Recipe Website{% endblock %}</title>
  <link rel="icon" type="image/png" href="{{ '/images/logos/recipe-website-logo-32px.png'|asseturl }}"/>
  <link rel="stylesheet" href="{{ '/external/bootstrap-5.0.2/css/bootstrap.min.css'|asseturl }}">
  <link rel="stylesheet" href="{{ '/css/main.css'|asseturl }}">
  <link rel="stylesheet" href="{{ '/css/latolatinfonts.css'|asseturl }}">
  <link rel="stylesheet" href="{{ '/css/fork-awesome/fork-awesome.min.css'|asseturl }}">
  {%- block page_css -%}
  {%- endblock -%}
  <script src="{{ '/external/jquery-3.6.0.min.js'|asseturl }}"></script>
  <script src="{{ '/external/bootstrap-5.0.2/js/bootstrap.bundle.min.js'|asseturl }}"></script>
  <script src="{{ '/external/lunr-2.3.9.min.js'|asseturl }}"></script>
  {%- block page_js -%}
  {%- endblock -%}
  <meta property="og:site_name" content="Recipe Website"/>
  <meta property="og:title" content="Recipe Website - Fun and Simple Recipes"/>
  <meta property="og:description" content="Recipe Website hosts fun and simple recipes."/>
  <meta property="og:image" content="{{ '/images/logos/recipe-website-logo.png'|asseturl }}"/>
  <meta property="og:secure_url" content="{{ '/images/logos/recipe-website-logo.png'|asseturl }}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <div class="container-fluid px-3 navbar-content">
        <a class="navbar-brand" href="{{ "/"|url }}">
          <img src="{{ '/images/logos/recipe-website-logo-32px.png'|asseturl }}" alt="Home">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbar-nav" aria-controls="navbar-nav"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-nav">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="{{ "/"|url }}">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="{{ "#"|url }}"
                 id="navbar-nav-dropdown" role="button"
                 data-bs-toggle="dropdown" aria-expanded="false">
                Menu
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbar-nav-dropdown">
                <li><a class="dropdown-item" href="{{ "/breakfast/#content"|url }}">Breakfast</a></li>
                <li><a class="dropdown-item" href="{{ "/lunch/#content"|url }}">Lunch</a></li>
                <li><a class="dropdown-item" href="{{ "/dinner/#content"|url }}">Dinner</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{{ "/authors/#content"|url }}">Authors</a></li>
                <li><a class="dropdown-item" href="{{ "/countries/#content"|url }}">Countries</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{ "/about/#content"|url }}">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="d-flex justify-content-center justify-content-md-between" style="min-height: 100vh;">
      <!-- Side bar for desktop -->
      <aside class="d-none d-md-block col-md-3 col-lg-2" aria-label="Sidebar">
        <div class="sticky-top pt-5 px-3 px-lg-0">
          <a href="{{ "/"|url }}">
            <div class="d-flex justify-content-center">
              <img src="{{ '/images/logos/recipe-website-logo.png'|asseturl }}" class="rounded" style="max-width:100%; max-height:100%; padding:2rem; padding-top:0">
            </div>
          </a>
          <div class="d-flex justify-content-center border-bottom color-border-muted py-3 mt-3 mb-4">
            <button class="btn btn-primary rounded w-100" type="button"> Surprise me! </button>
          </div>
          <div>
            <input type="text" id="desktop-input" class="form-control" placeholder="🔎  Search website" autocomplete="off">
          </div>
          <div class="px-5 px-md-3">
            <h3 class="text-left pt-2 pb-3"> Simple and cheap </h3>
            <div class="pb-2">
              <h5 class="text-left pb-1 text-decoration-underline"> Meal </h5>
              <ul class="list-unstyled">
                <li class="">
                  <div class="width-full d-flex justify-content-left mt-1">
                    <a href="{{ "/breakfast/#content"|url }}"> Breakfast </a>
                  </div>
                </li>
                <li class="">
                  <div class="width-full d-flex justify-content-left mt-1">
                    <a href="{{ "/lunch/#content"|url }}"> Lunch </a>
                  </div>
                </li>
                <li class="">
                  <div class="width-full d-flex justify-content-left mt-1">
                    <a href="{{ "/dinner/#content"|url }}"> Dinner </a>
                  </div>
                </li>
              </ul>
            </div>
            <div>
              <h5 class="text-left pb-1 text-decoration-underline"> Categories </h5>
              <ul class="list-unstyled">
                <li class="">
                  <div class="width-full mt-1">
                    <a href="{{ "/authors/#content"|url }}"> Authors </a>
                  </div>
                </li>
                <li class="">
                  <div class="width-full mt-1">
                    <a href="{{ "/countries/#content"|url }}"> Countries </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </aside>
      <div class="col-md-9 px-3">
        <!-- Side bar for mobile -->
        <div class="d-block d-md-none py-3">
          <a href="{{ "/"|url }}">
            <div class="d-flex justify-content-center">
              <img src="{{ '/images/logos/recipe-website-logo.png'|asseturl }}" class="rounded" style="max-width:160px; max-height:160px;">
            </div>
          </a>
          <div class="d-flex justify-content-center border-bottom color-border-muted py-3 my-3">
            <button class="btn btn-primary rounded px-5" type="button"> Surprise me! </button>
          </div>
          <div>
            <input type="text" id="mobile-input" class="form-control" placeholder="🔎  Search website" autocomplete="off">
          </div>
          <div class="px-2">
            <h3 class="text-center pt-2 pb-3"> Simple and cheap </h3>
            <div class="row">
              <div class="col-6 pb-2">
                <h5 class="text-left text-decoration-underline"> Meal </h5>
                <ul class="row list-unstyled">
                  <li class="col-12">
                    <div class="width-full mt-2">
                      <a href="{{ "/breakfast/#content"|url }}"> Breakfast </a>
                    </div>
                  </li>
                  <li class="col-12">
                    <div class="width-full mt-2">
                      <a href="{{ "/lunch/#content"|url }}"> Lunch </a>
                    </div>
                  </li>
                  <li class="col-12">
                    <div class="width-full mt-2">
                      <a href="{{ "/dinner/#content"|url }}"> Dinner </a>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-6">
                <h5 class="text-left text-decoration-underline"> Categories </h5>
                <ul class="row list-unstyled">
                  <li class="col-12">
                    <div class="width-full mt-2">
                      <a href="{{ "/authors/#content"|url }}"> Authors </a>
                    </div>
                  </li>
                  <li class="col-12">
                    <div class="width-full mt-2">
                      <a href="{{ "/countries/#content"|url }}"> Countries </a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <span id="content" class="anchor d-block d-md-none"></span>
        <span class="anchor d-none d-md-block"></span>
        <div class="container px-0 pt-0 pt-md-5">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="scroll-top text-center text-md-end px-3 pt-0">
      <a href="#top"> Scroll to top </a>
    </div>
  </footer>
  <script src="{{ '/js/autocomplete-search.js'|asseturl }}"></script>
  <script src="{{ '/js/lunr-search.js'|asseturl }}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $("a[href='#top']").click(function() {
        $("html, body").animate({ scrollTop: 0 }, "slow");
        return false;
      });
      {% set endpoints = ['/', '/author', '/country', '/recipe'] %}
      window.store = {
      {%- for endpoint in endpoints -%}
        {% set pages = site.query(endpoint).include_undiscoverable(false).all() %}
        {%- for page in pages -%}
          {#- Get parent of url path. E.g., /recipe/okonomiyaki --> recipe -#}
          {%- set class = page._path.split('/')[1]|safe -%}
          {#- Replace commonly used delimiters to comma -#}
          {%- set tags = page.tags | replace(";", ",") -%}
          {% set tags_list = tags.split(' ')|safe %}
          "{{ page._id }}": {"label": "{{ page.title }}", "tags": {{ tags_list }}, "url": "{{ page._path|url }}", "class": "{{ class }}"},
        {%- endfor -%}
      {%- endfor -%}
      }
    });
  </script>
  {%- block text_js -%}
  {%- endblock -%}
</body>
</html>
