{% extends "layout.html" %}

{% block content %}
    <h1> {{ this.recipe_title }} </h1>
    <br>
    <p>
      {{ this.about }}
    </p>
    <div class="container justify-content-between px-0">
      <!-- Image for mobile -->
      <div class="d-block d-sm-none col-12 py-3">
        <img src="{{ this.img_url|asseturl }}" alt="Okonomiyaki" class="img-fluid rounded border border-dark">
      </div>
      <h3 class="py-3"> Ingredients </h3>
      <div class="row">
        <div class="col-12 col-md-5">
          <ul class="ps-3 ps-sm-4">
            {%- for ingredient in this.ingredients.blocks -%}
            <li> {{ ingredient.ingredient }} </li>
            {%- endfor -%}
          </ul>
        </div>
        <!-- Image for desktop -->
        <div class="d-none d-sm-block col-md-7">
          <img src="{{ '/images/okonomiyaki.jpeg'|asseturl }}" alt="Okonomiyaki" class="img-fluid rounded border border-dark">
        </div>
      </div>
      <div>
        <h3 class="py-3">Instructions</h3>
        <div class="row">
          <div class="col-12 col-md-9">
            <ol class="ps-3 ps-sm-4">
              {%- for instruction in this.instructions.blocks -%}
              <li> {{ instruction.instruction }} </li>
              {%- endfor -%}
            </ol>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
